{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<main class="mt-4 p-3 flex flex-col gap-8 w-full h-screen">
    <h1 class="text-3xl font-semibold text-orange-500">{{cate.name | capfirst}}</h1>
    {% for p in post %}
    <section class="blog flex flex-col gap-4  md:flex-row md:justify-around">
        <div class="infos flex flex-col gap-4 w-full md:w-[60%]">

            <h1 class="text-4xl font-semibold">{{p.title}}</h1>
            <p class="font-semibold">{{p.content | truncatewords:60 | safe}}</p>
            
            <button class="bg-blue-600 p-2 text-white w-fit">
                <a href="home/{{p.url}}">Readmore</a></button>
        </div>
        <img src="/media/{{p.img}}" alt="" class="w-[250px] h-auto">
        
    </section>
    {% endfor %}

</main>
{% endblock content %}